html, body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.to-do-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px !important;
}

h1 {
    text-align: center;
}

.to-dos {
    margin-top: 25px;
    background-color: #f7f7f7;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    overflow-y: scroll;
}

#inputField {
    width: 339px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
}

#addToDo {
    height: 49px;
    width: 50px;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    font-size: 30px;
}

#addToDo:hover {
    cursor: pointer;
}

#dummy_text {
    margin-top: -15px;
    text-align: center;
    line-height: 1.4em;
    letter-spacing: 1.5px;
}

.to-dos {
    margin-top: 25px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
    color: black;
}